/* Core
**********************/
@import "bootstrapBase/functions";
@import "bootstrapBase/variables";
@import "bootstrapBase/mixins";
@import "bootstrapBase/breakpoints";
@import "bootstrapBase/bootstrap_grid";
@import "bootstrapBase/spacing";
@import "bootstrapBase/bootstrap_reboot";

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Montserrat:100,300,400,700,900&display=swap');
@import "components/variables";
@import "components/mixins";
@import "components/reset";
@import "components/utilities";
@import "components/buttons";
@import "components/labels";
@import "components/switches";
@import "components/alerts";
@import "components/cards";
@import "components/containers";
@import "components/footers";
@import "components/forms";
@import "components/headers";
@import "components/legends";
@import "components/lists";
@import "components/panels";
@import "components/wizards";
@import "components/sidebars";
