@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:700,900&display=swap');
/* @import "components/variables";
@import "components/mixins";
@import "components/lms-components";
@import "components/modals";
@import "components/buttons";
@import "components/headers";
@import "components/legends";
@import "components/panels";
@import "components/forms"; */
