mixin main--sidebar
	.sidebar.sidebar--main
		a(href="#" class="sidebar--main__logo"): img(src="../img/logo-sumadi-color.png")
		nav.nav--main: ul
			li.nav--main__item: a(href="#")
				i.fas.fa-graduation-cap
				span Course Page
		a(href="#" class="sidebar--main__profile-menu")
			i.fas.fa-user-circle
			span Hi Vader