.step.step--visited
	.step__number
		span: i.fas.fa-check
	.step__text
		span Account Information

.step.step--active
	.step__number
		span 2
	.step__text
		span Account rules

.step
	.step__number
		span 3
	.step__text
		span Account Settings