extend includes/layout-error-page.pug
block main-content
	.panel.panel--medium
		a(href="../Management%20Site/login.html")
			img(src="../../Html/Management%20Site/images/logo.png" class="logo")
		hr
		h1 404
		p Not Found! The page you are looking for doesn't exist.
		.row
			.col-12.col-lg-12
				button.button--normal Go Home


