extend includes/layout-normal.pug
block main-content
	.container
		.row
			.col-12.section--boxed
				.title.title--medium Add New Account
				+wizard({'activeStep': 1})
				.wizard-content
					+loader()
					.row
						.col-12.col-lg-6
							label.form__label
								strong Institution Name
							.input-container
								input(type="text" placeholder="Laureate")
							.input-message.input-message--success Success in this field
						.col-12.col-lg-6
							label.form__label
								strong Institution ID - INSID
							.input-container
								input(type="text" placeholder="SU2020")

						.col-12.col-lg-6
							label.form__label
								strong Google Analytics Track ID
							.input-container
								select.element--width-auto
									option UA
								input(type="text" placeholder="123432498734")
						.col-12.col-lg-6
							label.form__label
								strong AWS ReKognition Collection ID
								span E.G. SUMADI.INSID_PROD
							.input-container
								input(type="text" placeholder="SUMADI.INSID_PROD")

						.col-12.col-lg-6
							label.form__label
								strong Generate Password
							.input-container
								.input--with-elements
									input(type="text" placeholder="DIM0ROY887e@")
									button.button--within-input Generate
								.input-message error
								.popover.popover--arrow-right.show
									.row.row--border-bottom
										.col-8
											.input-container
												.input--fake.disabled DIM0ROY8873@
										.col-4.button-group
											button.button--transparent
												i.fas.fa-copy 
											button.button--transparent
												i.fas.fa-sync-alt
									.row
										.col-8.flex-row
											strong Password Lenght
											.input--fake 12
											input(type="text" value="12").input
											input(type="range" min="1" max="100" value="50").slider
											
										.col-4
											ul.list--verification
												li.list-item 
													label.checkbox--round 
														input(type="checkbox").checkbox
														span.checkbox__text Uppercase
												li.list-item 
													label.checkbox--round 
														input(type="checkbox").checkbox
														span.checkbox__text Symbol
												li.list-item 
													label.checkbox--round 
														input(type="checkbox").checkbox
														span.checkbox__text Lowercase
												li.list-item 
													label.checkbox--round 
														input(type="checkbox").checkbox
														span.checkbox__text Numbers

						.col-12.col-lg-6
							label.form__label
								strong Services LMS LTI KEY
								span E.G. 3RCS3CTCYNXEN3PG
							.input-container
								.input--fake.element--width-auto SU2020
								input(type="text" placeholder="DIM0ROY887e@")
						

						.col-12.col-lg-6
							label.form__label
								strong Select (multiple)
							.input-container
								select(multiple).mr-0
									option option-1
									option option-2
									option option-3
						.col-12.col-lg-6
							label.form__label
								strong Institution ID - INSID
							.input-container
								input(type="text" placeholder="SU2020")

						.col-12.col-lg-6
							label.form__label
								strong Google Analytics Track ID
							.input-container
								select.element--width-auto
									option UA
								input(type="text" placeholder="123432498734")
						.col-12.col-lg-6
							label.form__label
								strong AWS ReKognition Collection ID
								span E.G. SUMADI.INSID_PROD
							.input-container
								input(type="text" placeholder="SUMADI.INSID_PROD")
				.row: .col-12.wizard-action-container
					button.button--normal Cancel
					button.button--normal Next