extend includes/layout-normal.pug
block main-content
	.container
		.row
			.col-12.section--boxed
				.row
					.col-12.title-container.title-container--with-components
						.title.title Account Management
						button.button--normal Add new Account
				.row
					.col-12.col-md-6.col-lg-4.col-xl-3.card__container
						+card()
					.col-12.col-md-6.col-lg-4.col-xl-3.card__container
						+card()
					.col-12.col-md-6.col-lg-4.col-xl-3.card__container
						+card()
					.col-12.col-md-6.col-lg-4.col-xl-3.card__container
						+card()
				.row
					.col-12.col-md-6.col-lg-4.col-xl-3.card__container
						+card()
					.col-12.col-md-6.col-lg-4.col-xl-3.card__container
						+card()
					.col-12.col-md-6.col-lg-4.col-xl-3.card__container
						+card()
					.col-12.col-md-6.col-lg-4.col-xl-3.card__container
						+card()