extend includes/layout-normal.pug
block main-content
	.container
		.row
			.col-12.col-md-6.col-lg-4.col-xl-3.card__container
				+card()
			.col-12.col-md-6.col-lg-4.col-xl-3.card__container
				+card()
			.col-12.col-md-6.col-lg-4.col-xl-3.card__container
				+card()
			.col-12.col-md-6.col-lg-4.col-xl-3.card__container
				+card--featured()

		.row
			.col-12.col-md-6.col-lg-4.col-xl-3
				.row
					.col-12.col-sm-6.spacer--s--vertical
						+card--stats()
					.col-12.col-sm-6.spacer--s--vertical
						+card--stats()
				.row
					.col-12.spacer--s--vertical
						.section--boxed
							+list()
			.col-12.col-md-6.col-lg-8.col-xl-9.spacer--s--vertical
				.section--boxed
					.subtitle Activity
					.title Service Status
					+loader()