extend includes/layout-normal.pug
block main-content
	.container
		.row
			.col-12.section--boxed
				.row
					.col-12
						.row.panel--box-header
							.col-12.col-md-6
								.title.title--medium Digital Contract
							.col-12.col-md-6
								button.button--normal.float-right New T&C
					.col-12
						.row
							.col-12
								span Click Send email to send or re-send the digital contract to the Signing Authority Stakeholder.
							.col-12
								.table--scrollable-container
									table
										thead
											tr
												th
													span Institution Name
												th
													span Name
												th
													span Email
												th
													span Status
												th
													span Accepted Date
												th
													span Actions
										tbody
											tr
												td
													span Management Site
												td
													span Ricardo Galdamez
												td
													span clyde.dixon@email.com
												td
													span Accepted
												td
													span 1/06/2020 17:58
												td
													button.button--normal.button--xs Send Email

											tr
												td
													span Management Site
												td
													span Ricardo Galdamez
												td
													span clyde.dixon@email.com
												td
													span Accepted
												td
													span 1/06/2020 17:58
												td
													button.button--normal.button--xs Send Email
											tr
												td
													span Management Site
												td
													span Ricardo Galdamez
												td
													span clyde.dixon@email.com
												td
													span Accepted
												td
													span 1/06/2020 17:58
												td
													button.button--normal.button--xs Send Email
							.col-12
								.pagination
									a
										i.fas.fa-chevron-left
									a.active 1
									a 2
									a 3
									a 4
									a 5
									a
										i.fas.fa-chevron-right

