extend includes/layout-normal.pug
block main-content
	.container
		.row
			.col-12.section--boxed
				.row
				.col-12
					.row.panel--box-header
						.col-12.col-md-6
							.title.title--medium Digital Contract
						.col-12.col-md-6
							button.button--normal.float-right New T&C
				.col-12
					span Click Send email to send or re-send the digital contract to the Signing Authority Stakeholder.
					.col-12.table
						.row.table--header
							.col-12.col-md-2
								span Institution Name
							.col-12.col-md-2
								span Name
							.col-12.col-md-2
								span Email
							.col-12.col-md-2
								span Status
							.col-12.col-md-2
								span Accepted Date
							.col-12.col-md-2
								span Actions

						.row.table--content
							.col-12.col-md-2
								.table--colum
									span Management Site
							.col-12.col-md-2
								.table--colum
									span Ricardo Galdamez
							.col-12.col-md-2
								.table--colum
									span clyde.dixon@email.com
							.col-12.col-md-2
								.table--colum
									span Accepted
							.col-12.col-md-2
								.table--colum
									span 1/06/2020 17:58
							.col-12.col-md-2
								.table--colum
									button.button--normal.button--xs.float-right Send Email

						.row.table--content
							.col-12.col-md-2
								.table--colum
									span Management Site
							.col-12.col-md-2
								.table--colum
									span Ricardo Galdamez
							.col-12.col-md-2
								.table--colum
									span clyde.dixon@email.com
							.col-12.col-md-2
								.table--colum
									span Accepted
							.col-12.col-md-2
								.table--colum
									span 1/06/2020 17:58
							.col-12.col-md-2
								.table--colum
									button.button--normal.button--xs.float-right Send Email