extend includes/layout-login.pug
block main-content
	.panel.panel--xsmall
		a(href="../Management%20Site/login.html"): img(src="../../Html/Management%20Site/images/logo.png" class="logo")
		hr
		.header--with-image__content
			h3 Add New Password
			p Please fill the following fields to reset your password.
		.panel--content
			.row
				.col-12.col-lg-12
					label.form__label
						strong New Password
					.input-container
						input(type="password" placeholder="")
				.col-12.col-lg-12
					label.form__label
						strong Confirm New Password
					.input-container
						input(type="password" placeholder="")
		.panel--footer
			.row
				.col-12.col-lg-12
					button.button--normal Reset My Password