extend includes/layout-login.pug
block main-content
	.panel.panel--xsmall
		a(href="../Management%20Site/login.html"): img(src="../../Html/Management%20Site/images/logo.png" class="logo")
		hr
		.header--with-image__content
			h3 Forgot Password?
			p Please add your the following information to recover your access.
		.panel--content
			.row
				.col-12.col-lg-12
					label.form__label
						strong Email
					.input-container
						input(type="text" placeholder="")
					
					span.warning-input Please introduce a valid email
		.panel--footer
			.row
				.col-12.col-lg-12
					button.button--normal Send Recovery Link
				.col-12.col-lg-12
					a.login-link.resend-link(href="#") Resend Link