extend includes/layout-normal.pug
block main-content
    .container
        .row
            .col-12.section--boxed
                .row
                    .col-12
                        .title-container
                            .title.title--medium Reports
                .row
                    .col-12
                        .title-container
                            .title--medium Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                .row.justify-content-start
                    .col-12.col-sm-6.col-md-4.col-lg-4.col-xl-2
                        .card-info.card-info--image
                            .left-panel
                                img(src="images/trending_up-white-18dp.svg")
                            .right-panel
                                .row
                                    .col-12
                                        h2.number 12
                                .row
                                    .col-12
                                        .subtext Active
                                        .subtext Accounts
                    .col-12.col-sm-6.col-md-4.col-lg-4.col-xl-2
                        .card-info.card-info--no-image
                            h2.top 18/25
                            .subheader Accounts Have Active Exams
                    .col-12.col-sm-6.col-md-4.col-lg-4.col-xl-2
                        .card-info.card-info--no-image
                            h2.top 1,200
                            .subheader STUDENTS TAKING AN EXAM RIGHT NOW
                    .input--search
                        input(type="text" class="search" placeholder="SEARCH")
                        img(src="images/search-black-18dp.svg")
                .row
                    .col-12
                        .divider
                .row
                    .col-10
                        .title-container
                            .title.title--xtra-small Filtering by Category and Region and Report Type: Exams By Institution                
                    .col-2
                        .button--circle.button--filter
                            i.fas.fa-filter
                .row 
                    .col-12
                        .table--scrollable-container
                            table
                                thead
                                    th
                                        span Institution Name
                                    th
                                        span Email
                                    th
                                        span Status
                                    th.button-header
                                        span Exams by Institution
                                    th.button-header
                                        span Actions
                                tbody
                                    tr
                                        td
                                                span Universidad de Especialidades Espiritu Santo
                                        td
                                                span institution@email.com
                                        td
                                                span Active
                                        td.button-cell
                                                .table__cell--circle 10
                                        td.button-cell
                                                .button--gradient Download Report
                                    tr
                                        td
                                                span Universidad de Especialidades Espiritu Santo
                                        td
                                                span institution@email.com
                                        td
                                                span Active
                                        td.button-cell
                                                .table__cell--circle 21
                                        td.button-cell
                                                .button--gradient Download Report
                                    tr
                                        td
                                                span Universidad de Especialidades Espiritu Santo
                                        td
                                                span institution@email.com
                                        td
                                                span Active
                                        td.button-cell
                                                .table__cell--circle 12
                                        td.button-cell
                                                .button--gradient Download Report
                        .col-12
                            .pagination
                                a
                                    i.fas.fa-chevron-left
                                a.active 1
                                a 2
                                a 3
                                a 4
                                a 5
                                a
                                    i.fas.fa-chevron-right