extend includes/layout-login.pug
block main-content
	.panel.panel--xsmall
		a(href="../Management%20Site/login.html"): img(src="../../Html/Management%20Site/images/logo.png" class="logo")
		hr
		.header--with-image__content
			h3 Successful Password Reset
			p You can now use your new password to log in into your account.
		.panel--content

		.panel--footer
			.row
				.col-12.col-lg-12
					button.button--normal Log in