extend ../components/layout-normal.pug
block main-content
	.panel.panel--medium.panel--confirmation
		i.far.fa-check-circle
		h2 Face Successfully Registered
		.row
			img(src="https://picsum.photos/id/237/100/100" class="col rounded")
			img(src="https://picsum.photos/id/219/100/100" class="col rounded")
			img(src="https://picsum.photos/id/1074/100/100" class="col rounded")
		h3 Those pics look great! Good job
		button.button--normal Go to Next Step