extend ../components/layout-normal.pug
block main-content
	.panel.panel--medium
		.header--with-image
			img(src="../img/img-face-registration.png")
			.header--with-image__content
				h2 Face Registration
				p Please register you face to participe in supervised exams. You will need to take three photos to register.
		.panel.panel--full.panel--grey
			h4 Before we start
			ul.list.list--normal
				li.list--normal__item  Remember to have good lighting and focus your face well
				li.list--normal__item  Keep your eyes on the camera. 
				li.list--normal__item  Both eyes should be visible in the image.
				li.list--normal__item  Check if you are the user beign displayed on camera. If you’re not, refresh the page.
		button.button--normal I understand. let's go