extend ../components/layout-normal.pug
block main-content
	.panel.panel--medium.panel--confirmation
		i.far.fa-check-circle
		h2 Your typing pattern was saved
		h3 Great writting style!
		button.button--normal Go to Next Step