extend ../components/layout-normal.pug
block main-content
	.panel.panel--medium
		.header--with-image
			img(src="../img/img-typing-pattern.png")
			.header--with-image__content
				h2 Typing Pattern Registration
		.panel.panel--full.panel--grey.panel--typing-pattern
			.panel--typing-pattern__instructions
				div
					span I would prefer fail with honor t
					span.panel--typing-pattern__text--selected han win by cheating.
				.label Pattern 1/2
			form: .form__row
				textarea.textarea--small I would prefer fail with
		button.button--normal Send Pattern