extend ../components/layout-normal.pug
block main-content
	.panel.panel--medium
		.header--with-image
			img(src="../img/img-typing-pattern.png")
			.header--with-image__content
				h2 Typing Pattern Registration
				p Please register you typing pattern to participate in supervised exams.
		.panel.panel--full.panel--grey
			h4 Before we start
			ul.list.list--normal
				li.list--normal__item  Please type the two provided texts to register your typing pattern.
				li.list--normal__item  Don't worry about punctuation marks, typos allowed
		button.button--normal I understand. let's go