extend ../components/layout-normal.pug
block main-content
	.panel.panel--large.panel--welcome-screen
		h2 Welcome!
		h3 WE CARE about your privacy and security
		p That’s why we choose SUMADI. A solution that will protect your assesments with the highly security methods to address identity theft and add reliability and security to your exams results.
		button.button--normal Sounds Great. LET’S Go!
	.alert.alert--bottom
		p By using our site, you acknowledge that you have read and understand our Cookie Policy, Privacy Policy, and our Terms and Service.
		a: i.fas.fa-times-circle