doctype html
html
	head
	title Sumadi – Al-Powered Proctoring
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, maximum-scale=1.0, user-scalable=no')
	link(rel='stylesheet', href='css/sumadi-lms-components.css')
	body(style="background-color: #333; margin:0;")
		.container--sumadi-modal
			.sumadi-modal.sumadi-modal--with-ilustration.sumadi-modal--keyboard-issue
				header: h2 Your keyboard shortcuts are disabled
				p To ensure integrity, please avoid the use of keyboard shortcuts during your exam.
				button.sumadi-button I Understand