doctype html
html
	head
	title Sumadi – Al-Powered Proctoring
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, maximum-scale=1.0, user-scalable=no')
	link(rel='stylesheet', href='css/sumadi-lms-components.css')
	body(style="background-color: #333; margin:0;")
		.container--sumadi-modal
			.sumadi-modal.sumadi-modal--hero-image
				img(src="img/enable_camera.gif")
				p You need to have the camera enabled to do a Proctor test, follow the instructions in the video. 
				p #[strong If this message continues to appear you need to reload the page so that the new configurations take effect. ]
				button.sumadi-button I Understand