doctype html
html
	head
	title Sumadi – Al-Powered Proctoring
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, maximum-scale=1.0, user-scalable=no')
	link(rel='stylesheet', href='css/sumadi-lms-components.css')
	body(style="background-color: #333; margin:0;")
		.container--sumadi-modal
			.sumadi-modal.sumadi-modal--with-ilustration.sumadi-modal--warning
				header
					h2 Warning
					ul.sumadi-label--group
						li: span.sumadi-label Wrong Use
						li: span.sumadi-label Loss of focus: #1
				p It is not allowed to perform any activity on the computer while the test is being performed.
				p You teacher will be informed about this activity.
				button.sumadi-button I Understand