
/* Alerts
**********************/
.alert--bottom {
	position: fixed;
	z-index: 1;
	height: 60px;
	width: 100%;
	margin-left: 60px;
	display: flex;
	font-size: $text-m;
	background: $gradient;
	color: $white;
	padding: $spacer-s;
	a {
		color: $white;
		font-size: $spacer-m;
		margin-left: $spacer-s;
	}
}

.alert--bottom {
	bottom: 0;
}

.alert--success {
	background-color: $green-light;
	border: 1px solid $green-normal;
	padding: 5px;
	border-radius: 5px;
	display: flex;
	margin-top: 15px;
	a {
		float: right;
		position: absolute;
    right: 30px;
	}
}

.alert--error {
	background-color: $red-light;
	border: 1px solid $red-normal;
	padding: 5px;
	border-radius: 5px;
	display: flex;
	margin-top: 15px;
	a {
		float: right;
		position: absolute;
    right: 30px;
	}
}