
/* Buttons Global
***********************/
.button--normal {
	@include button($gradient-button,$gradient-hover--purple,$grey-light-2,$white);
}

.button--white {
	@include button($white,$green-light,transparent,$grey-dark-1);
}

.button--xs {
	width: 180px;
	height: 35px;
	margin-top: 0;
	margin-bottom: 15px;
}

.button--circle {
	height: 40px;
	width: 40px;
	background-color: $green-normal;
	border-radius: 50em;
	text-align: center;
	padding-top: 8px;
	cursor: pointer;
	&:hover {
		opacity: 0.8;
	}
	i {
		color: white;
	}
}

/* Dropdown White XS
**********************/

.dropdown-white-xs {
	width: 100%;
	position: relative;
	cursor: pointer;
	font-family: $font-secondary;
}

.dropdown-white-xs label {
	width: 100%;
	height: 45px;
	outline: none;
	text-align: left;
	border-radius: 4px;
	padding-left: 15px;
	border-style: unset;
	background-color: $purple-light;
	cursor: pointer;
	padding-top: 10px;
	i {
		width: 34px;
		position: absolute;
		right: 0;
		top: 35%;
		color: $purple-normal;
	}
	h5 {
		width: 90%;
		line-height: 0;
		margin-top: 5px;
		margin-bottom: 0px;
		color: #333333;
		text-align: left;
		font-weight: bolder;
		text-transform: capitalize;
		@include font-size(13px);
	}
}

.dropdown-white-xs ul li {
	display: block;
	height: 45px;
	padding: 8px 12px;
	text-transform: capitalize;
	border-bottom: 1px solid #EFEFEF;
	cursor: pointer;
	@include font-size(14px);
	span {
		display: inline-block;
		text-align: left;
		color: $grey-dark-2;
		vertical-align: top;
		padding-top: 3px;
		&:hover {
			color: $purple-normal;
			font-weight: bold;
		}
	}
	&:last-child {
		border-bottom: none;
	}
}

.dropdown-white-xs ul li.selected-category {
	span {
		font-weight: bold;
	}
}

.dropdown-white-xs input {
  display: none;
}

input[type=checkbox] + label:before {
  display: none !important;
}

.dropdown-white-xs input ~ ul {
	height: auto;
	width: 100%;
	overflow: auto;
	border-radius: 4px;
	padding: 10px;
	background-color: white;
	color: gray;
	border: 1px solid #EFEFEF;
  position: absolute;
  visibility: hidden;
	text-align: left;
  opacity: 0;
}

.dropdown-white-xs input:checked + label {
  background: #EFEFEF;
  color: #333333;
}

.dropdown-white-xs input:checked ~ ul {
  visibility: visible;
  opacity: 1;
	overflow: auto;
	z-index: 400;
}

.dropdown--transparent label {
	background-color: transparent;
	h5 {
		text-transform: uppercase;
		@includes font-size(14px);
	}
}