
/* Cards
**********************/
.card {
  * {
    font-family: $font-core;
  }
  background: $white;
  @include box-shadow;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 90%;
  padding: $spacer-m;
  height: 100%;
  justify-content: center;

  .card__header {
    display: flex;
    margin-bottom: $spacer-s;
    justify-content: space-between;
    img.card__img {
      width: 50px;
    }
  }

  .card__body {
    display: flex;
    flex-direction: column;
    .card__title {
      @include font-size($text-xl);
      line-height: 1.15;
      font-weight: 900;
    }

    .card__subtitle {
      @include font-size($text-xs);
      font-weight: 300;
      line-height: 1;
      text-transform: uppercase;
      margin-top: $spacer-xs;
    }
  }

  .card__footer {
    button.button--normal {
      min-width: 130px;
      min-height: 40px;
      height: 40px;
      width: fit-content;
    }
  }

  &.card--featured {
    background: $gradient-inverse;
    .card__body {
      .icon--xl {
        @include font-size($heading-m);
        color: $white;
        text-align: center;
      }
      .card__title {
        color: $white;
        text-transform: uppercase;
        text-align: center;
        @include font-size($text-xxl);
        font-weight: 700;
        margin-top: $spacer-s;
      }
    }
  }

  &.card--stats {
    padding: $spacer-s;
    .card__body {
      align-items: center;
      .card__title {
        font-family: $font-secondary;
        @include font-size($heading-l);
        line-height: 1;
        font-weight: 700;
      }
    }
    .card__footer {
      border-top: 1px solid $grey-light-2;
      margin-top: $spacer-xs;
      .card__title {
        @include font-size($text-s);
        font-weight: 900;
        line-height: 1;
        text-transform: uppercase;
        text-align: center;
      }

      .card__subtitle {
        @include font-size($text-xs);
        font-weight: 300;
        line-height: 1;
        text-transform: uppercase;
        margin-top: $spacer-xs;
        text-align: center;
      }
    }
  }
}

.card__container {
  padding-top: $spacer-s;
  padding-bottom: $spacer-s;
}