
/* Global Containers
**********************/
.container--main {
	display: flex;
	flex-direction: column;
	//height: 100vh;
  align-items: center;
  justify-content: center;
	margin-left: 120px;
	margin-top: $spacer-xl;
	margin-bottom: $spacer-xxl;

	&__no-margin {
		margin: 0px;
	}
	&__no-sidebar {
		margin-left: 0px;
		margin-right: 0px;
	}
}

.container--large {
	width: 100%;
}

.container--medium {
	width: 75%;
}

.container--small {
	width: 50%;
}

/* Containers Custom
**********************/

.container--face-recog {
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100px;
		height: 100px;
		margin-right: $spacer-m;
		border-radius: 50em;
		justify-content: center;
		align-items: center;
		background-color: $grey-light-2;
	}
	&__item img {
		width: 80%;
		height: 80%;
	}
	&__label {
		display: none;
		position: absolute;
		top: -15px;
		left: 35px;
		width: 30px;
		height: 30px;
		border-radius: 50em;
		font-weight: bold;
		text-align: center;
		font-family: $font-core;
		color: $blue-normal;
		background: $gradient;
	}
	&__text {
		display: none;
		position: absolute;
		width: 100px;
		bottom: -45px;
		left: 0;
		text-align: center;
		line-height: 20px;
		font-size: $text-s;
	}
}

.container--face-recog .selected {
	text-transform: uppercase;
	background-color: $blue-normal;
	.container--face-recog__label {
		display: block;
	}
	.container--face-recog__text {
		display: block;
	}
}

.container {
	width: 90%;
}

.section--boxed {
	background: $white;
	@include box-shadow;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 90%;
	padding: $spacer-m;
	height: 100%;
	overflow: hidden;

	@include media(desktop-s) {
		flex-direction: column;
		padding: $spacer-l;
	}
}

.spacer--s--vertical {
  padding-top: $spacer-s;
  padding-bottom: $spacer-s;
}

.title-container {
	display: flex;
	align-items: center;
	margin-bottom: $spacer-m;

	&.title-container--with-components {
		justify-content: space-between;
		.title {
			margin-right: $spacer-s;
			font-weight: 900;
		}
		button.button--normal {
			margin: 0px;
			height: 40px;
			min-width: 100px;
			width: auto;
		}
	}
}


.divider {
	margin: 30px 0;
	height: 3px;
	width: 100%;
	border: none;
	background-color: $purple-light;
}


.card-info-container {
	display: flex;
	align-items: flex-end;
	padding: 0px;
	width: 100%;
	min-height: 150px;
	display: flex;

}

.error-body {
	text-align: center;
	h1 {
		@include font-size(180px);
	}
	.panel--medium {
		margin-top: 5%;
	}
}


/* Placeholder Container
**********************/

.placeholder-container {
	text-align: center;
	padding-top: $spacer-xxl;
	padding-bottom: $spacer-xxl;
	i {
		background: $gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@include font-size(80px);
	}
}


.login-body {
	.panel.panel--xsmall {
		margin-top: 5%;
	}
	footer {
		position: fixed !important;
	}
}

/* Contract Container
**********************/

.contract--container {
	margin-top: 20px;
}

.popover {
	background: $grey-light-2;
	width: 100%;
	height: 0px;
	margin: 0px;
	margin-top: 16px;
	padding: 0px;
	border-radius: 4px;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transform: scaleY(0);
	top: 100%;
	@include box-shadow;
	@include transition;

	&.show {
		opacity: 1;
		visibility: visible;
		height: 100%;
		padding: 16px 0px;
		transform: scaleY(1);
	}

	&:after {
		bottom: 100%;
		left: 32px;
		border: solid transparent;
		content: "";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba($grey-light-2, 0);
		border-bottom-color: $grey-light-2;
		border-width: 12px;
		margin-left: -16px;
	}

	&.popover--arrow-right {
		&:after {
			bottom: 100%;
			left: unset;
			right: 32px;
			border: solid transparent;
			content: "";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba($grey-light-2, 0);
			border-bottom-color: $grey-light-2;
			border-width: 12px;
			margin-left: -16px;
		}
	}
}

.popover--internal {
	background: $grey-light-2;
	width: 100%;
	height: 0px;
	margin: 0px;
	margin-top: 16px;
	padding: 0px;
	border-radius: 4px;
	position: relative;
	opacity: 0;
	visibility: hidden;
	transform: scaleY(0);
	transition: 0.25s all cubic-bezier(0.65, 0.05, 0.36, 1);

	&.show {
		opacity: 1;
		visibility: visible;
		height: 100%;
		padding: 16px 0px;
		transform: scaleY(1);
	}

	&:after {
		bottom: 100%;
		left: 32px;
		border: solid transparent;
		content: "";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba($grey-light-2, 0);
		border-bottom-color: $grey-light-2;
		border-width: 12px;
		margin-left: -16px;
	}
}

.wizard-action-container {
	display: flex;
	flex-direction: row;
	margin-top: $spacer-l;
	justify-content: space-between;
	align-items: center;
}