
/* Forms
**********************/
.form__row {
	margin-top: $spacer-m;
}

label {
	display: block;
	margin-bottom: $spacer-xs;
}

input,
.input--fake, select{
	border: none;
	min-width: 150px;
	height: 40px;
	font-weight: 400;
	border-radius: $spacer-xss;
	@include box-shadow;
	border: 1px solid rgba($black,.10);
	color: $black;
	padding: 0px $spacer-s;
	margin-bottom: $spacer-s;
	@include font-size($text-s);
	font-weight: 400;
	line-height: 40px;
}

textarea {
	box-sizing: border-box;
	border: none;
	width: 100%;
	min-height: 350px;
	padding: $spacer-s;
	border-radius: $spacer-xss;
	@include box-shadow;
	@include font-size($text-l);
	&.textarea--small {
		min-height: 200px;
	}
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	min-width: 150px;
	font-weight: bold;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+DQo8cG9seWdvbiBvcGFjaXR5PSIwLjciIHBvaW50cz0iMCw0IDE2LDQgOCwxMiIvPg0KPC9zdmc+DQo=');
	background-repeat: no-repeat;
	background-position: calc(100% - .5em) 50%;
	background-size: 12px;
}

select::-ms-expand {
  display: none;
}

input[type="checkbox"] {
	display: none;
}

input[type=checkbox] + label {
	display: block;
	cursor: pointer;
}

input[type=checkbox] + label:before {
	font-family: "Font Awesome 5 Pro";
	display: inline-block;
	font-weight: 900;
	content: "\f00c";
	color: transparent;
	vertical-align: bottom;
	background-color: $white;
	margin-right: $spacer-s;
	padding-left: 2px;
  width: $spacer-m;
	height: $spacer-m;
	border-radius: $spacer-xss;
	border: 1px solid $grey-light-1;
}

input[type=checkbox]:checked + label:before {
  color: $grey-dark-2;
}


.form__label {
	@include font-size($text-xs);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-top: $spacer-xs;
  display: flex;
  color: $grey-light-1;

  strong {
  	color: $black;
  	margin-right: $spacer-xss;
  }
}

.input-container {
	display: flex;
	flex-direction: row;
	margin-bottom: 16px;
	position: relative;

	.input--fake,
	select {
		margin-right: $spacer-s;
		min-width: 100px;
		width: auto;
		padding-right: $spacer-m;
    	width: 100%;
	}
	input {
		width: 100%;
	}
	
	.input--with-elements {
		position: relative;
		width: 100%;
		display: flex;
		.input--fake,
		select, input{
			margin: 0;
			padding-right: 108px;
		}
		.button--within-input {
			position: absolute;
			height: 100%;
			right: 0;
			top: 0;
			width: 100px;
			font-size: $text-xs;
			font-weight: 600;
			text-transform: uppercase;
			color: $purple-normal;
			border: none;
			background: rgba($grey-light-2, 0);
			cursor: pointer;
			@include transition;

			&:focus,
			&:hover {
				background: rgba($grey-light-2, 0.7);
			}

			&:active {
				background: rgba($grey-light-2, 1);
				color: $blue-dark;
			}
		}

	}

	.element--width-auto {
		width: auto;
	}
}


.input-container--with-popover {
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	.input-container {
		flex-direction: column;
		flex: 1;

		.input-container {
			margin-bottom: 0px;
		}
	}
}


.warning-input {
	text-transform: uppercase;
	color: $grey-light-1;
	@include font-size(12px);
}

.input--search {
	display: flex;
	margin: 20px 15px;
	position: relative;
	align-self: flex-end;
	width: 100%;
	height: 50px;
	.search {
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		margin: 0 0 0 auto;
		align-self: flex-end;
		@include box-shadow;
		border: 1px solid $grey-light-2;
	}
	img {
		position: absolute;
		height: 26px;
		width: 26px;
		right: 5px;
		top: 50%;
		margin-top: -13px;
		z-index: 2;
		color: red;
	}
	@include media(desktop-s) {
		width: 400px;
		height: 50px;
		margin: 15px 15px 0 auto;
	}
}



input[type=text] {
 &::placeholder {
	 font-family: $font-core;
	 font-weight: 900;
	 color: $grey-light-1;
 }
}