
/* Headers Global Styles
**********************/
h1,
h2,
h3,
h4,
h5 {
	font-family: $font-secondary;
	font-weight: 900;
}

h1 {
	@include font-size($heading-l);
}

h2 {
	@include font-size($heading-m);
}

h3 {
	@include font-size($heading-s);
}

h4 {
	@include font-size($heading-xs);
}

/* Headers Custom Styles
**********************/
.header--with-description {
	span {
		font-weight: bold;
		text-transform: uppercase;
		color: $green-normal;
		font-family: $font-secondary;
		@include font-size($text-m);
	}
}

.header--with-image {
	display: flex;
	margin-bottom: $spacer-m;
	img {
		align-self: center;
		width: 100px;
		height: 100px;
		margin-right: $spacer-s;
	}
}

.title {
	@include font-size($text-xxl);//24px
	line-height: 1.15;
	font-weight: 700;
	font-family: $font-secondary;


	&.title--xtra-small {
		@include font-size($text-m);
		line-height: 1.15;
	}
	&.title--small {
		@include font-size($heading-xs);
		line-height: 1.15;
	}
	&.title--medium {
		@include font-size($heading-s);
		line-height: 1.15;
	}
	&.title--large {
		@include font-size($heading-m);
		line-height: 1.15;
	}
}

.subtitle {
	font-family: $font-secondary;
	@include font-size($text-m);//16px
	line-height: 1;
	font-weight: 300;
	text-transform: uppercase;

	&.subtitle--xtra-small {
		@include font-size($text-xs);
	line-height: 1;
	}
	&.subtitle--small {
		@include font-size($text-s);
	line-height: 1;
	}
	&.subtitle--medium {
		@include font-size($text-xl);
	line-height: 1;
	}
	&.subtitle--large {
		@include font-size($text-xxl);
	line-height: 1;
	}
	
}
