
/* Headers Global Styles
**********************/
h1,
h2,
h3,
h4,
h5 {
	font-family: $font-secondary;
	font-weight: 900;
}

h1 {
	@include font-size($heading-l);
}

h2 {
	@include font-size($heading-m);
}

h3 {
	@include font-size($heading-s);
}

h4 {
	@include font-size($heading-xs);
}

/* Headers Custom Styles
**********************/
.header--with-description {
	span {
		font-weight: bold;
		text-transform: uppercase;
		color: $green-normal;
		font-family: $font-secondary;
		@include font-size($text-m);
	}
}

.header--with-image {
	display: flex;
	margin-bottom: $spacer-m;
	img {
		align-self: center;
		width: 100px;
		height: 100px;
		margin-right: $spacer-s;
	}
}

.title {
	@include font-size($text-xxl);//24px
	line-height: 1.15;
	font-weight: 700;
	font-family: $font-secondary;


	&.title--xtra-small {
		@include font-size($text-m);
		line-height: 1.15;
	}
	&.title--small {
		@include font-size($heading-xs);
		line-height: 1.15;
	}
	&.title--medium {
		@include font-size($heading-s);
		line-height: 1.15;
	}
	&.title--large {
		@include font-size($heading-m);
		line-height: 1.15;
	}
}

.subtitle {
	font-family: $font-secondary;
	@include font-size($text-m);//16px
	line-height: 1;
	font-weight: 300;
	text-transform: uppercase;

	&.subtitle--xtra-small {
		@include font-size($text-xs);
	line-height: 1;
	}
	&.subtitle--small {
		@include font-size($text-s);
	line-height: 1;
	}
	&.subtitle--medium {
		@include font-size($text-xl);
	line-height: 1;
	}
	&.subtitle--large {
		@include font-size($text-xxl);
	line-height: 1;
	}
	
}

/* Header Main
**********************/

.header--main {
	position: relative;
	height: 75px;
	margin-top: $spacer-xl;
	padding: 0;
}

.nav--main {
	position: relative;
	padding-top: 10px;
}

.nav--main >ul {
	display:flex;
	>li > a {
		color: var(--blue-gray);
		font-size: $heading-xss;
		font-family: var(--core-font);
		font-weight: 400;
		margin-right: $spacer-xl;
		text-transform: uppercase;
	}
	li:hover 	a {
		color: var(--white);
	}
	a.nav--main__item--selected {
		color: var(--white);
		border-bottom: 5px solid var(--green-normal);
		padding-bottom: var(--spacer-xs);
		font-weight: 800;
	}
}

.nav--main >ul > li {
	height: 80px;
}

.nav--main >ul li:hover .dropdown{
	visibility: visible;
  opacity: 1;
	display: block;
}

.nav--main >ul li > ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.nav--secondary {
	margin-left: auto;
	width: 200px;
}

.nav--secondary >ul li:hover > ul {
  visibility: visible;
  opacity: 1;
  display: block;
}

.nav--main__item--profile {
	height: var(--spacer-l);
	color: var(--white);
	font-size: var(--heading-xs);
	font-family: var(--core-font);
	span {
		display: inline-block;
		margin-bottom: 20px;
    vertical-align: middle;
	}
	i {
		font-size: var(--spacer-l);
		margin-right: var(--spacer-s);
	}
}

