
/* Lists
**********************/
.list--normal__item {
	background-image: url("../img/icon-list-item.png");
	background-repeat: no-repeat;
	background-position: 0 5px;
	background-size: 16px 16px;
	padding-left: 25px;
	margin-top: 20px;
}

ul.list {
	margin-top: $spacer-m;

	.list__item {
		display: flex;
		flex-direction: row;
		margin-bottom: $spacer-m;
		.list__img {
			border-radius: 50%;
			width: 40px;
			height: 40px;
			box-shadow: 0px 0px 0px 3px rgba($green-normal, 0.5);
			margin-right: $spacer-s;
		}
		.list__text {
			display: flex;
			flex-direction: column;
			* {
				font-family: $font-core;
			}
			.list__title {
				@include font-size($text-s);
	      line-height: 1;
	      font-weight: 900;
	      margin-bottom: $spacer-xss;
			}
			.list__subtitle {
				@include font-size($text-xs);
	      line-height: 1;
	      font-weight: 300;
	      text-transform: uppercase;
	      display: inline-flex;
				strong {
					display: inline-flex;
					margin-right: $spacer-xss;
				}
				span {
					display: inline-flex;
				}
			}
			.list__link {
				color: $green-normal;
				@include font-size($text-xxs);
	      line-height: 1;
	      font-weight: 400;
	      text-transform: uppercase;
	      width: 100%;
	      cursor: pointer;
	      text-decoration: underline;
			}
		}
	}
}
.list--institution {
    border: 1px solid #e7e6f7;
    border-left: none;
    border-right: none;
    padding: 16px 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 16px;

	.list__content {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: $spacer-s;

		img.list__img {
			height: 64px;
			margin-right: 8px;
		}
		.list__text {
			.list__subtitle {
				font-size: 12px;
				line-height: 12px;
				text-transform: uppercase;
				margin: 4px 0px;
			}
			.list__title {
				font-size: 16px;
				line-height: 16px;
				font-weight: 900;
			}
		}


		.list__text--secondary {
			padding: 0px 16px;
			border-right: 1px solid #e7e6f7;

			.list__subtitle {
				font-size: 12px;
				font-weight: 600;
				line-height: 12px;
				text-transform: uppercase;
				margin: 4px 0px;
			}
			.list__title {
				font-size: 16px;
				line-height: 16px;
				font-weight: 300;
			}
			
			&:last-child {
				border: none;
			}
		}
	}

	@include media(desktop-s) {
		flex-direction: row;
	}
}
.pagination {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	a {
	  height: 30px;
	  width: 30px;
	  line-height: 30px;
	  text-align: center;
	  border-radius: 50%;
	  &:hover {
		background-color: $purple-light;
		cursor: pointer;
		color: white;
	  }
	  &.active {
		background-color: $green-normal;
		cursor: pointer;
		color: white;
	  }
	}
	img {
		height: 30px;
		width: 30px;
		line-height: 30px;
		text-align: center;
		border-radius: 50%;
	    &:hover {
		background-color: $purple-light;
		cursor: pointer;
	  }
	}
  }
  
