
/* Lists
**********************/
.list--normal__item {
	background-image: url("../img/icon-list-item.png");
	background-repeat: no-repeat;
	background-position: 0 5px;
	background-size: 16px 16px;
	padding-left: 25px;
	margin-top: 20px;
}