.loader-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 40px;
    height: 100%;
    padding: 40px;
    justify-content: center;
    align-items: center;

    &.loader-container--fullscreen {
        position: absolute;
        background: rgba($white, 0.95);
        top: 0px;
        left: 0px;
        z-index: 1;
    }
}

.loader {display: flex;}

.loader-dot {
    background: #10CFC9;
    height: 24px;
    width: 24px;
    margin-right: 8px;
    border-radius: 24px;
    /* width: 48px; */
    transition: all 0.25s ease-in-out;
    animation-name: loader;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
    animation-fill-mode: both;

    &:nth-child(1) {
        animation-delay: 0.1s; 
    }
    &:nth-child(2) {
        animation-delay: 0.2s; 
    }
    &:nth-child(3) {
        animation-delay: 0.3s; 
    }
    &:nth-child(4) {
        animation-delay: 0.4s; 
    }
    &:nth-child(5) {
        animation-delay: 0.5s; 
    }
}

.loader-text {
    margin-top: 4px;
    font-weight: 900;
    color: #8A84D6;
    text-shadow: 1px 1px rgba(32, 42, 69, 0.0);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation-name: loader-text;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
    animation-fill-mode: both;
}

@keyframes loader {
  0%   {
    width: 24px;
    margin-right: 0px;
    margin-left: 0px;
  }
  50%  {
    width: 64px;
    margin-right: -16px;
    margin-left: -16px;
    background: #8A84D6;
  }
  100% {
    width: 24px;
    margin-right: 0px;
    margin-left: 0px;
  }
}

@keyframes loader-text {
  0%   {
    transform: scaleX(1);
    color: #8A84D6;
  }
  50%  {
    transform: scaleX(1.01);
    color: #8A84D6;
  }
  100% {
    transform: scaleX(1);
    color: #8A84D6;
  }
}