
/* Main Sidebar
**********************/
.sidebar--main {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 120px;
	height: 100%;
	text-align: center;
	padding-top: $spacer-xl;
	background: $blue-normal;
	ul {
		padding: 0;
	}
	i {
		display: block;
		text-align: center;
		font-size: $spacer-xl;
		background: $gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin-bottom: $spacer-xss;
	}
	span {
		font-weight: bold;
		text-transform: uppercase;
		font-family: $font-secondary;
		color: $white;
		@include font-size($heading-xss);
	}
	&__logo img {
		display: block;
		margin: 0 auto;
		max-width: 50%;
		height: auto;
		padding-bottom: $spacer-xl;
	}
	&__profile-menu {
		position: absolute;
		bottom: $spacer-xl;
	}
}

.nav--main__item {
	width: 100%;
	border-top: 1px solid $blue-dark;
	border-bottom: 1px solid $blue-dark;
	padding: $spacer-s;
	&:hover {
		background-color: $blue-dark;
	}
}

.sidebar--filters {
	position: absolute;
	box-sizing: border-box;
	padding: 20px 60px 0px 60px;
	top: 0px;
	right: 0px;
	z-index: 1000;
	width: 550px;
	height: 100vh;
	background-color:white;
	.sidebar__title {
		display: flex;
		justify-content: flex-start;
		width: 100%;
		height: 100px;
		margin-bottom:40px;
		.sidebar--container {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			font-size: $heading-m;
			width: 50%;
			height: 100%;
		}
		.sidebar--container-right {
			justify-content: flex-end;
		}
	}
	.sidebar__filter-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-height: 100%;
		width: 100%;
		overflow-y: auto;
		.sidebar__filter-section {
			display:flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 100%;
			.sidebar__filter-section-title {
				font-size: $heading-xs;
				align-self: flex-end;
				width: 100%;
				margin-bottom: 30px;
			}
		}
		.sidebar__filter-checkbox-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
			margin-bottom: 60px;
		}
		.sidebar__filter-checkbox {
			box-sizing: border-box;
			display:flex;
			justify-content: space-around;
			flex-direction: column;
			align-items: center;
			width: 190px;
			height: 190px;
			border-radius: 4px;
			border: 4px solid $grey-light-2;
			padding:20px;
			text-align: center;
			color: $grey-light-2;
			i {
				font-size: $heading-xl;
				color: $grey-light-2;
			}
		}
	}

}

.sidebar__overlay {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: 999;
	background-color: rgba($black,.9);
}
