.switch {
  position: relative;
  display: flex;
  width: 50px;
  height: 28px;
  .slider {
    position: absolute;
    cursor: pointer;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $gradient-switch;
    background-position: 40%;
    background-size: 400%;
    transition: all 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);

    &:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      border-radius: 50%;
      background-color: $white;
      transition: .4s;
    }
  }
  input[type="checkbox"] {
    cursor: pointer;
    display: block;
    position: absolute;
    left: 0px;
    width: 100%;
    min-width: 50px;
    height: 28px;
    z-index: 100;
    opacity: 0;

    &:checked + .slider {
      background-position: 0%;
    }

    &:focus + .slider {
      box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.3);
    }

    &:checked + .slider:before {
      left: calc(100% - 24px);
    }
  }
}