
/* Global Styles
**********************/

body {
	line-height: 1.5;
	font-weight: normal;
	background-color: $grey-light-2;
	font-family: $font-core;
	color: $blue-normal;
	@include font-size($text-l);
}

.row {
	display: flex;
}

.col {
	margin-right: $spacer-m;
}

.col:last-child {
	margin-right: 0;
}

.rounded {
	border-radius: 50em;
}

.logo {
	margin: auto;
	max-width: 200px;
	margin-bottom: 25px;
}

hr {
	border: 1px solid $grey-light-2;
}

body.login-body {
	background-color: $blue-normal;
	background-image: url(../../Management%20Site/images/bg-login.png);
	background-size: 100%;
	background-repeat: no-repeat;
	footer li {
		color: $white;
	}
	footer a {
		color: $white;
	}
}

.full-height {
	height: 100%;
}