include components/cards.pug
include components/lists.pug
include components/wizards.pug
include components/loaders.pug

doctype html
html
	include head.pug
	body
		include components/headers.pug
		//+topbar()
		section.container--main.container--main__no-sidebar
			block main-content
		include components/footer.pug