include components/cards.pug
include components/lists.pug
include components/wizards.pug
include components/loaders.pug
include components/sidebars.pug

doctype html
html
	include head.pug
	body
		section
			block main-content